In [4]:
import os
# import psycopg2
import pandas as pd
# from sqlalchemy import create_engine

# engine = create_engine('postgresql://localhost/eCommerce')

# data_folder = "eCommerce/"

# conn = psycopg2.connect(
#     host="localhost",
#     database="eCommerce",
#     user="anshulkiyawat",
#     password="123456"
# )
# cursor = conn.cursor()

# for file in os.listdir(data_folder):

#     table_name = file.split('.')[0].split('-')[1]
#     print(table_name)
#     # Create the table in the database
#     cursor.execute("""
#         CREATE TABLE IF NOT EXISTS """ + table_name + """ (
#             event_time TIMESTAMP,
#             event_type VARCHAR(255),
#             product_id INTEGER,
#             category_id BIGINT,
#             category_code VARCHAR(255),
#             brand VARCHAR(255),
#             price NUMERIC,
#             user_id BIGINT,
#             user_session VARCHAR(255)
#         )
#     """)

# # Commit the changes and close the connection
# conn.commit()
# conn.close()

df_temp = pd.read_csv("eCommerce/2019-Nov.csv")

# for file in os.listdir(data_folder):

#     table_name = file.split('.')[0].split('-')[1]
#     print(table_name)

#     print("----------{}-----------".format(file))

#     print("Loading Data to Dataframe")
#     file_path = os.path.join(data_folder, file)
#     df_temp = pd.read_csv(file_path)
#     print("Data Loaded to DataFrame")
    
#     print(df_temp.head())
#     break

#     print("Appending Data to Database")
#     df_temp.to_sql(table_name, engine, if_exists="append", index=False)
    
#     print("{} Added to Database".format(table_name))
#     print("------------------------------------------")
#     print()

In [6]:
print(df_temp.head())  
print(df_temp.info())

                event_time event_type  product_id          category_id  \
0  2019-11-01 00:00:00 UTC       view     1003461  2053013555631882655
1  2019-11-01 00:00:00 UTC       view     5000088  2053013566100866035
2  2019-11-01 00:00:01 UTC       view    17302664  2053013553853497655
3  2019-11-01 00:00:01 UTC       view     3601530  2053013563810775923
4  2019-11-01 00:00:01 UTC       view     1004775  2053013555631882655

               category_code   brand   price    user_id  \
0     electronics.smartphone  xiaomi  489.07  520088904
1  appliances.sewing_machine  janome  293.65  530496790
2                        NaN   creed   28.31  561587266
3  appliances.kitchen.washer      lg  712.87  518085591
4     electronics.smartphone  xiaomi  183.27  558856683

                           user_session
0  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1  8e5f4f83-366c-4f70-860e-ca7417414283
2  755422e7-9040-477b-9bd2-6a6e8fd97387
3  3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4  313628f1-68b8-460d-84f6-cec7a8796ef2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67501979 entries, 0 to 67501978
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 4.5+ GB
None

In [8]:
df_temp['eventTime'] = pd.to_datetime(df_temp['event_time'])

In [9]:
print(df_temp.head())

                event_time event_type  product_id          category_id  \
0  2019-11-01 00:00:00 UTC       view     1003461  2053013555631882655
1  2019-11-01 00:00:00 UTC       view     5000088  2053013566100866035
2  2019-11-01 00:00:01 UTC       view    17302664  2053013553853497655
3  2019-11-01 00:00:01 UTC       view     3601530  2053013563810775923
4  2019-11-01 00:00:01 UTC       view     1004775  2053013555631882655

               category_code   brand   price    user_id  \
0     electronics.smartphone  xiaomi  489.07  520088904
1  appliances.sewing_machine  janome  293.65  530496790
2                        NaN   creed   28.31  561587266
3  appliances.kitchen.washer      lg  712.87  518085591
4     electronics.smartphone  xiaomi  183.27  558856683

                           user_session                 eventTime
0  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33 2019-11-01 00:00:00+00:00
1  8e5f4f83-366c-4f70-860e-ca7417414283 2019-11-01 00:00:00+00:00
2  755422e7-9040-477b-9bd2-6a6e8fd97387 2019-11-01 00:00:01+00:00
3  3bfb58cd-7892-48cc-8020-2f17e6de6e7f 2019-11-01 00:00:01+00:00
4  313628f1-68b8-460d-84f6-cec7a8796ef2 2019-11-01 00:00:01+00:00

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost/eCommerce')

df_temp.to_sql('oct', engine, if_exists="replace", index=False)

: